@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.carousel-item{
    height: 300px;
    width: 100%;
}

.card-img-top{
    width: 100%;
}

 h1, .headerFeatured{
    text-align: center;
    padding: 2%;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 

    padding-bottom: 2%;
}

